* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #F1E4EA;
  height: 100%;
  width: 100%;
  display: block;
}

.header {
  top: 0px;
  height: 10vh;
  width: 100vw;
  background: #cda2b881;
  position: relative;
  position: fixed;
  z-index: 1000;
}

.nav {
  height: inherit;
  width: 30%;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: 10%;
}

.nav-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #161A0F;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.3vw;
}

.nav-link:hover {
  color: #F1E4EA;
  transition-timing-function: linear;
  transition-duration: 0.2s;
}

.about-me {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
}

#cat-svg {
  height: auto;
  min-height: 45%;
  width: 30%;
  right: 15%;
  position: absolute;
}

.about-text {
  font-family: 'Lato', sans-serif;
  font-size: 1.3vw;
  width: 30vw;
  height: auto;
  position: absolute;
  left: 15%;
  color: #2a2b2a;
}

#jp-text {
  font-weight: 700;
  font-size: 2vw;
  color: #071108;
}

#github-svg {
  height: auto;
  min-height: 5%;
  width: 3.2vw;
}

#github-svg:hover {
  opacity: 0.7;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.genshin {
  height: 100vh;
  min-width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
}

#kokomi-png {
  height: auto;
  min-height: 40vh;
  width: 40vw;
}

#gen-logo {
  width: 20vw;
  height: auto;
  position: absolute;
  top: 5%;
}

#gen-logo:hover {
  opacity: 0.7;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.genshin-bg {
  background-color: #CDA2B8;
  height: 95%;
  width: 100vw;
  position: absolute;
  z-index: -10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gen-wiki {
  width: 30%;
  height: 15%;
  right: 3%;
  top: 5%;
  position: absolute;
  font-family: 'Lato', sans-serif;
  font-size: 1.1vw;
  color: #2a2b2a;
}

#gen-acc {
  position: absolute;
  right: 3%;
  bottom: 10%;
  width: 30vw;
  height: auto;
}

.gen-acc-txt {
  font-family: 'Lato', sans-serif;
  font-size: 1.3vw;
  color: #2a2b2a;
  width: 30%;
  height: 20%;
  position: absolute;
  right: 20%;
  top: 47%;
}

#electr-png {
  height: auto;
  width: 10vw;
  position: absolute;
  right: 10%;
}

#electr-png:hover {
  opacity: 0.7;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.anime {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
}

#ghost-svg {
  height: auto;
  width: 30vw;
  position: absolute;
  right: 15%;
  top: 16%;
}

#ghost-svg:hover {
  opacity: 0.7;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.anime-txt {
  font-family: 'Lato', sans-serif;
  font-size: 1.3vw;
  color: #2a2b2a;
  height: auto;
  width: 30vw;
  position: absolute;
  left: 15%;
}

#anime-eto {
  font-family: 'Lato', sans-serif;
  font-size: 1.3vw;
  color: #071108;
  font-weight: 500;
}