* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

.content {
  height: 100%;
  width: 100%;
  display: block;
}

body {
  background: #F1E4EA;
  height: 100%;
  width: 100%;
  display: block;
}

.header {
  top: 0px;
  height: 10vh;
  width: 100vw;
  background: #c794ac6e;
  position: relative;
  position: fixed;
  z-index: 1000;
}

.nav {
  height: inherit;
  width: 30%;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: 10%;
}

.nav-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #161A0F;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.3vw;
}

.nav-link:hover {
  color: #F1E4EA;
  transition-timing-function: linear;
  transition-duration: 0.2s;
}

.about-me {
  height: 100%;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
}

#cat-svg {
  height: auto;
  min-height: 45%;
  width: 30%;
}

#github-svg {
  height: auto;
  min-height: 10%;
  width: 5%;
}

#github-svg:hover {
  opacity: 0.7;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.genshin {
  height: 100%;
  min-width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
}

#kokomi-png {
  height: auto;
  min-height: 50%;
  width: 40%;
  z-index: 10;
}

.genshin-bg {
  background-color: #C794AC;
  height: 95%;
  width: 100vw;
  position: absolute;
}